[contenteditable] {
	outline: none;
	min-width: 10px;
}


#octopus-admin-frame {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: #000000;
	background: rgba( 0, 0, 0, .90 );
	width: 100%;
	height: 100%;
	z-index: 9999999999999999999999;
	cursor: pointer;
}